@model MvcCv.Models.Entity.tblAdmin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Username:")
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    <br />
    @Html.Label("Password:")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Edit</button>
</form>