@model MvcCv.Models.Entity.tblAbout
@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Name:")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    @Html.Label("Surname:")
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    <br />
    @Html.Label("Address:")
    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
    <br />
    @Html.Label("Phone:")
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    @Html.Label("Mail:")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Description:")
    @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
    <br />
    @Html.Label("ImageUrl:")
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Add</button>
</form>