@model MvcCv.Models.Entity.tblSkills
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    @Html.HiddenFor(x => x.ID)
    @Html.Label("Skill:")
    @Html.TextBoxFor(x => x.Skill, new { @class = "form-control" })
    <br />
    @Html.Label("Ratio:")
    @Html.TextBoxFor(x => x.Ratio, new { @class = "form-control" })
    <br />
   
    <button class="btn btn-info">Add</button>
    </form>
